<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block meta %}
    <title>Awards - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <!-- Bagian Awards -->
    <main>
        <section class="award-section" id="award">
            <div class="container">
                <p class="section-kicker">Awards</p>

                 <div class="project-header">
                   <h1>Collecting Pokemon Cards</h1> 
                    <p class="award-quote"><i>"Success is a journey, not a destination. The doing is often more important than the outcome." </i>- Arthur Ashe</p>
                </div>

                {% url 'main:show_award' as list_url %}
                {% url 'main:create_award' as create_url %}
                {% include "components/generic_search_form.html" with item_type="award" list_url=list_url create_url=create_url %}

                <div class="award-grid">
                    {% for award in award_list %}
                    <article class="award-card">
                        <img class = "award-photo" src= "{{award.image}}" alt= "{{award.title}}">

                        <div class = "award-details">
                            <h2>{{award.title}}</h2>
                            <p>{{award.description}}</p>
                        </div>

                        <div class="award-card-actions">
                            <div class="award-actions">
                                <a href="{{award.get_edit_url }}"
                                    class="button award-update-button">
                                    Update Award
                                </a>
                                {% include "components/generic_delete_modal.html" with item=award item_type="award" %}
                            </div>
                        </div>
                    </article>

                    {% empty %}
                        {% if title_query %}
                            <p class="empty-state"> There are no awards with that name.</p>
                        {% else %}
                            <p class="empty-state"> There are no awards yet.</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section> 
    </main>
{% endblock content %}
</html>