{% extends "base.html" %}
{% block meta %}
    <title>Add {{item_type}} - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="{{ item_type }}-section">
            <div class="container">

                {% if action_type == "create"%} 
                    <h1>Add New {{ item_type|title }}</h1>
                {% else %}
                    <h1>Update {{ item_type|title }}</h1>
                {% endif %}
                
                <form method="post"
                      class="{{ item_type }}-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button">
                        {% if action_type == "create" %} 
                            Add {{ item_type|title }}</button>
                        {% else %}
                            Edit {{ item_type|title }}</button>
                        {% endif %}
                    <a href="{{get_show_all_item_url}}" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}