<form method="get" action="{{ list_url }}" class="{{ item_type }}-search">
    <input type="search"
           name="title"
           value="{{ title_query }}"
           placeholder="Search based on {{ item_type }} name"
           class="{{ item_type }}-search__input"
           aria-label="Search based on {{ item_type }} name">
    <button type="submit" class="button">Search</button>

    <select name="sort" class= "button {{item_type}}-sort" onchange="this.form.submit()">
        <option value="title_asc" {% if request.GET.sort == "title_asc" %}selected{% endif %}>
            {{item_type|title}} name (A-Z)
        </option>
        <option value="title_desc" {% if request.GET.sort == "title_desc" %}selected{% endif %}>
            {{item_type|title}} name (Z-A)
        </option>
    </select>

    {% if user.is_superuser %}
        <a href="{{ create_url }}" class="button {{ item_type }}-add-button">
            <span aria-hidden="true">+</span>
            Add {{ item_type|title }}
        </a>
    {% endif %}
</form>